.idea/
images/
*.css
*.csv
*.npy
*.pyc
*.pgm

# Jupyter Notebook output
*.ipynb_checkpoints/
*.ipynb-meta
*.nbconvert/
*.html
*.pdf

# Jupyter Notebook images
*.png
*.jpg
*.gif

.idea/
images/
*.css
*.csv
*.npy
*.pyc

# Jupyter Notebook output
*.ipynb_checkpoints/
*.ipynb-meta
*.nbconvert/
*.html
*.pdf

# Jupyter Notebook images
*.png
*.jpg
*.gif

#忽略所有名为Temp文件夹及文件夹内的文件
Temp/